.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Full viewport height */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.chat-header {
  background: #4F6D7A;
  color: white;
  padding: 10px;
  text-align: center;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f5f5f5;
  margin-bottom: 0.5em /* Space for input box */
}

.full-row {
  display: flex;
  margin: 8px 0;
}

/* Align user messages to the right */
.user-message {
  margin-left: auto;
  background-color: #dcf8c6;
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 70%;
  text-align: left;
}

/* Align bot messages to the left */
.bot-message {
  margin-right: auto;
  background-color: #f1f0f0;
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 70%;
  text-align: left;
}


.chat-input {
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 4x;
  background: #ffffff;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  // z-index: 10;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.chat-input button {
  padding: 8px 12px;
  background-color: #4F6D7A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ml-model-note {
  background: #fffbe6;
  border-left: 5px solid #fbc02d;
  padding: 20px;
}

.ml-model-note h4 {
  margin-top: 0;
  color: #f57f17;
}

.ml-model-note p {
  color: #444;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.chart-container {
  max-width: 600px;
  margin: 20px auto;
}
canvas {
  width: 100%;
}

