<ng-container *ngIf="!isHomePage(); else homePage">
  <!-- Sidenav Layout for Non-Home Pages -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a class="dash" mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a class="dash" mat-list-item routerLink="/chat-bot">
          <mat-icon>chat_bubble</mat-icon> Chat Bot
        </a>
        <a class="dash" mat-list-item routerLink="/contributors">
          <mat-icon>account_circle</mat-icon> Profile
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-title">Urbanization Shift</span>
      </mat-toolbar>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- Home Page Rendering without Sidenav -->
<ng-template #homePage>
  <router-outlet></router-outlet>
</ng-template>
