

  <div class="header">
    <h1>Project Contributors</h1>
    <p>Meet the awesome team behind this chatbot project</p>
  </div>

  <div class="container">
    <div class="card">
      <img class="avatar" src="https://i.pravatar.cc/80?img=1" alt="Contributor 1">
      <div class="name">Chaithanya L</div>
      <div class="role">Frontend Developer</div>
      <div class="email">1MJ20CD045</div>
    </div>
    <div class="card">
      <img class="avatar" src="https://i.pravatar.cc/80?img=2" alt="Contributor 2">
      <div class="name">Harpitha B</div>
      <div class="role">Deep Learning Model Developer</div>
      <div class="email">1MJ21CD015</div>
    </div>
    <div class="card">
      <img class="avatar" src="https://i.pravatar.cc/80?img=3" alt="Contributor 3">
      <div class="name">Chaithra shree D M</div>
      <div class="role">ML Engineer</div>
      <div class="email">1MJ21CD008</div>
    </div>
    <div class="card">
      <img class="avatar" src="https://i.pravatar.cc/80?img=4" alt="Contributor 4">
      <div class="name">Hamsa Veni D S</div>
      <div class="role">UI/UX Designer</div>
      <div class="email">1MJ21CD014</div>
    </div>
    <div class="card">
        <img class="avatar" src="https://i.pravatar.cc/80?img=4" alt="Contributor 4">
        <div class="name">Arnab Tah</div>
        <div class="role">Project Guide</div>
        <div class="email"></div>
      </div>
  </div>
